#top {
    background: #F2F2F2;

    .container {
        height: 28px;

        p {
            font-size: 12px;
            line-height: 28px;

            i {
                color: #FF6600;
            }
        }
        ul {
            li {
                float: left;

                a {
                    color: #666666;
                    font-size: 12px;
                    padding: 0 10px;
                    display: inline-block;

                    span {
                        color: #FF6600;
                    }
                }
            }
            li:nth-last-child(-n+3) {
                a {
                    i {
                        color: #FF6600;
                    }
                }
            }
            li:last-child {
                a {
                    color: #FF6600;
                }
            }
        }
    }
}
#header {
    .container {
        background: url(../img/pinpai.png) no-repeat;
        background-position: center;

        .logo {
            width: 206px;
            background: url(../img/logo.png);
            height: 100px;
        }
        .h_r {
            padding-top: 32px;
            height: 100px;
            box-sizing: border-box;

            i {
                position: relative;
                top: 2px;
                display: inline-block;
                padding: 0 10px;
                color: #ccc;
                height: 30px;
                border: 1px solid #90C31F;
                border-right: 0 none;
                line-height: 30px;
            }
            input {
                height: 32px;
                width: 218px;
                box-sizing: border-box;
                border-bottom: 1px solid #90C31F;
                border-top: 1px solid #90C31F;
                // border-right: 0 none;
            }
            button {
                height: 32px;
                border: 2px solid #90C31F;
                width: 80px;
                background: #90C31F;
                color: #fff;
            }
            ul {
                li {
                    float: left;
                    font-size: 12px;
                    color: #999999;

                    a {
                        font-size: 12px;
                        color: #999999;
                        display: inline-block;
                        padding: 0 4px;
                    }
                }
            }
        }
    }
}
#nav {
    background: #90C31F;

    .container {
        position: relative;

        .nav_l {
            background: #6D9D03;
            text-align: center;
            width: 210px;
            height: 38px;
            line-height: 38px;
            font-size: 14px;
            color: #fff;
            font-weight: bold;

            i {
                margin-left: 12px;
            }
        }
        .nav_list {
            position: absolute;
            width: 190px;
            height: 320px;
            background: #fff;
            top: 38px;
            padding: 0 10px;
            z-index: 20;
            // position: relative;

            .li1:first-child {
                position: relative;
            }
            .li1 {
                text-align: left;
                height: 45px;
                width: 190px;
                background: #fff;
                border-bottom: 1px dashed #ccc;

                i {
                    color: #CCCCCC;
                    font-size: 12px;
                    // margin-left: 30px;
                }
                a {
                    display: inline-block;
                    width: 150px;
                    font-size: 12px;
                    text-align: center;

                    i {
                        color: #90C31F;
                    }
                    span {
                        margin-left: 5px;
                        color: #66667D;
                        line-height: 45px;
                    }
                }
                div {
                    display: none;
                    background:#fff;
                    width:770px;
                    height: 320px;
                    position: absolute;
                    left: 200px;
                    top: 0;
                    overflow:hidden;
                    border:1px solid #90C31F;
                    ul {

                        .li2 {
                            
                            width: 120px;
                            height: 50px;
                            padding: 10px 0;
                            padding-left: 15px;
                            font-size: 12px;
                            position: relative;
                            font-weight: bold;

                            ul {
                                background:#fff;
                                font-weight: normal;
                                padding: 10px 0;
                                position: absolute;
                                left:80px;
                                top: 0;
                                width: 426px;
                                border-bottom: 1px dashed #ccc;

                                li {

                                    margin: 5px;
                                    padding-left: 5px;
                                    float: left;
                                    border-left: 1px solid #ccc;
                                    color: #666666;
                                }
                            }
                        }
                    }
                    .nav_right {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 530px;
                        width: 228px;
                        height: 326px;
                        border: 0 none;
                    }
                }
            }
            .li1:last-child {
                border: 0 none;
            }
        }
        .nav_top {
            li {
                float: left;

                a {
                    line-height: 38px;
                    font-size: 14px;
                    color: #fff;
                    font-weight: bold;
                    display: inline-block;
                    padding: 0 35px;
                }
            }
            li:hover {
                background: #6D9D03;
            }
        }
    }
}
#banner {
    .container {
        position: relative;

        .ban_c {
            width: 760px;
            height: 320px;
            position: absolute;
            left: 210px;
            top: 0;
            overflow: hidden;

            .a-content {
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 20px;
                -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                position: relative;
            }
            .a-content:before {
                content: '';
                width: 500px;
                height: 300px;
                left: 35px;
                top: 19px;
                z-index: -1;
                position: absolute;
                border-radius: 20px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                background: rgba(0, 0, 0, 0.0);
                -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
                -webkit-transform: translate(-5%, -5%);
                transform: translate(-5%, -5%);
                -ms-transform: translate(-5%, -5%);
                -moz-transform: translate(-5%, -5%);
                -o-transform: translate(-5%, -5%);
            }
            .a-content:after {
                content: '';
                position: absolute;
                top: -25px;
                left: 25%;
                width: 270px;
                height: 40px;
                background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1, rgba(0, 0, 0, 0.2)));
                border-left: 1px dashed rgba(0, 0, 0, 0.1);
                border-right: 1px dashed rgba(0, 0, 0, 0.1);
                -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
                display: none;
            }
            .carousel-content {
                width: var(--mywidth);
                height: var(--myheight);
                position: relative;
                overflow: hidden;
                border-radius: 10px;
            }
            .carousel {
                height: var(--myheight);
                position: absolute;
                li {
                    float: left;
                }
                li,li img{
                    width: var(--mywidth);
                    height: var(--myheight);
                }
            }
            .img-index {
                position: absolute;
                bottom: 8px;
                width: 100%;
                display: flex;
                justify-content: center;
                li {
                    float: left;
                    width: 18px;
                    height: 18px;
                    line-height: 18px;
                    text-align: center;
                    border-radius: 10px;
                    background-color: rgba(0, 0, 0, 0.2);
                    font-size: 12px;
                    cursor: pointer;
                    margin: 0 3px;
                    color: #fff;
                }
                li.js_index,li:hover {
                    background-color: rgba(0, 0, 0, 0.7);
                }
            }
            .carousel-prev, .carousel-next {
                position: absolute;
                display: inline-block;
                top: 45%;
                cursor: pointer;
                display: none;
            }
            .carousel-prev {
                left: 0;
                // background:#fff;

            }
            .carousel-next {
                right: 0;
                // background:#fff;
            }
        }
        .ban_r {
            width: 220px;
            height: 320px;
            background: url(../img/0f_right1.jpg) no-repeat;
        }
    }
}